.tour__standing {
  display: block;
  border: none;
  tbody {
    display: block;
  }

  tr {
    @include transition();
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
  }

  .player {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 0;
    padding-left: 0;
    padding-right: 0.5rem;
    max-width: 45%;
    flex: 1 auto;
  }

  .user-link {
    display: inline-flex;
    align-items: center;
    .name {
      @extend %nowrap-ellipsis;
      padding-right: 4px;
    }
    .rating {
      font-style: italic;
      font-size: 0.8em;
      padding-right: 10px;
    }
  }

  .long.user-link {
    letter-spacing: -0.7px;
  }

  tr.long {
    &.rating {
      padding-left: 0;
    }
    &.name {
      width: 100%;
    }
  }

  .loading tbody {
    opacity: 0.6;
    @include transition(opacity, 0.3s);
  }
  &:not(.created):not(.loading) tbody tr:hover {
    background: mix($c-primary, $c-bg-box, 30%);
    cursor: pointer;
  }
  td.rank {
    @extend %roboto;
    display: flex;
    align-self: stretch;
    align-items: center;
    padding-left: 10px;
    padding-right: 0.8rem;
    i {
      opacity: 0.4;
      font-size: 0.8em;
    }
  }

  .sheet {
    display: inline-flex;
    flex: 1 0 auto;
    max-width: 70%;
    margin-left: auto;
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    padding-right: 0;
    padding-left: 1.5rem;
    letter-spacing: 0.1em;
    score {
      opacity: 0.7;
    }
    @media mq-not-small {
      max-width: 60%;
      padding-left: 1rem;
    }
  }
  tr.long .sheet {
    font-size: 0.9rem;
    letter-spacing: 0.06em;
  }
  tr.xlong .sheet {
    font-size: 0.85rem;
    letter-spacing: 0.04em;
  }

  double {
    color: $c-brag;
    /* font-weight: bold; */
  }
  streak {
    color: $c-secondary;
    /* font-weight: bold; */
  }
  .total {
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: flex-end;
    width: 7rem;
    font-weight: bold;
    padding-right: $block-gap;
    strong {
      display: flex;
      align-items: center;
    }
    @media mq-not-small {
      width: 5rem;
    }
  }

  tr.me td:first-child {
    $c-me-border: mix($c-secondary, $c-bg-box, 70%);
    background: linear-gradient(
      to right,
      $c-me-border 0,
      $c-me-border 5px,
      rgba(0, 0, 0, 0) 5px,
      rgba(0, 0, 0, 0) 100%
    );
  }
  tr.active td:last-child {
    $c-active-border: mix($c-primary, $c-bg-box, 70%);
    background: linear-gradient(
      to left,
      $c-active-border 0,
      $c-active-border 5px,
      rgba(0, 0, 0, 0) 5px,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
